
    {% if section.settings.enable_featured_products %}
    <section class="products-section">
        <div class="container-fluid">
            <div class="products-category">
                <div class="slide-categories">
                    <div class="single-category" data-filter=".mini-bagpack">
                        <img src="https://images.unsplash.com/photo-1617603280856-0ecabba82e09?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="mini bangpack">
                        <h6>Mini bagpack</h6>
                    </div>
                    <div class="single-category" data-filter=".mens-shirt">
                        <img src="https://images.unsplash.com/photo-1617603280856-0ecabba82e09?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="mens-shirt">
                        <h6>Men’s shirt</h6>
                    </div>
                    <div class="single-category" data-filter=".nightwear-shirt">
                        <img src="https://images.unsplash.com/photo-1617603280856-0ecabba82e09?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="nightwear-shirt">
                        <h6>nightwear-shirt</h6>
                    </div>
                    <div class="single-category" data-filter=".girls-tshirt">
                        <img src="https://images.unsplash.com/photo-1617603280856-0ecabba82e09?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80.jpg" alt="girls-tshirt">
                        <h6>Girl’s T-shirt</h6>
                    </div>
                    <div class="single-category active" data-filter=".mini-skirts">
                        <img src="https://images.unsplash.com/photo-1617603280856-0ecabba82e09?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="mini-skirts">
                        <h6>Mini skirts</h6>
                    </div>
                    <div class="single-category" data-filter=".wedding-flower">
                        <img src="https://images.unsplash.com/photo-1617603280856-0ecabba82e09?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80.jpg" alt="wedding-flower">
                        <h6>Wedding flower</h6>
                    </div>
                    <div class="single-category" data-filter=".mini-bagpack">
                        <img src="https://images.unsplash.com/photo-1617603280856-0ecabba82e09?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80.jpg" alt="mini bangpack">
                        <h6>Mini bagpack</h6>
                    </div>
                    <div class="single-category" data-filter=".mini-bagpack">
                        <img src="https://images.unsplash.com/photo-1617603280856-0ecabba82e09?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="mini bangpack">
                        <h6>Mini bagpack</h6>
                    </div>
                    <div class="single-category" data-filter=".mens-shirt">
                        <img src="https://images.unsplash.com/photo-1617603280856-0ecabba82e09?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="mens-shirt">
                        <h6>Men’s shirt</h6>
                    </div>
                    <div class="single-category" data-filter=".nightwear-shirt">
                        <img src="https://images.unsplash.com/photo-1617603280856-0ecabba82e09?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="nightwear-shirt">
                        <h6>nightwear-shirt</h6>
                    </div>
                    <div class="single-category" data-filter=".girls-tshirt">
                        <img src="https://images.unsplash.com/photo-1617603280856-0ecabba82e09?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="girls-tshirt">
                        <h6>Girl’s T-shirt</h6>
                    </div>
                    <div class="single-category active" data-filter=".mini-skirts">
                        <img src="https://images.unsplash.com/photo-1617603280856-0ecabba82e09?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="mini-skirts">
                        <h6>Mini skirts</h6>
                    </div>
                    <div class="single-category" data-filter=".wedding-flower">
                        <img src="https://images.unsplash.com/photo-1617603280856-0ecabba82e09?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="wedding-flower">
                        <h6>Wedding flower</h6>
                    </div>
                    <div class="single-category" data-filter=".mini-bagpack">
                        <img src="https://images.unsplash.com/photo-1617603280856-0ecabba82e09?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="mini bangpack">
                        <h6>Mini bagpack</h6>
                    </div>
                </div>
            </div>
            <div class="category-section">
                <div class="category-item mini-skirts">
                    <div class="side-header">
                        <div class="categoy-title">{{ section.settings.featured_section_title }}</div>
                        <a href="#" class="fileter-menu">
                            <span class="text">Filter</span>
                            <div class="wrapper">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </div>
                        </a>
                    </div>

                    <div class="row append-child">
                    {% if section.settings.top_featured_product %}

                        {% assign product_item = all_products[section.settings.top_featured_product] %}

                         <div class="col-xl-4 col-lg-8 offset-xl-1 offset-lg-2 col-sm-12 col-md-12">
                            <div class="single-product featured-product">
                                <div class="media">
                                    {% if product_item.featured_image %}
                                        <img
                                            src="{{ product_item.featured_image | img_url : 'large' }}"
                                            alt="{{ product_item.title }}" class="img-responsive">
                                        {% else %}
                                        {{ 'image' | placeholder_svg_tag }}
                                    {% endif %}
                                </div>
                                <div class="content">
                                    <label>
                                        {{ section.settings.featured_products_tag }}
                                    </label>
                                    <h5>
                                        <a href="{{ product_item.url }}">
                                            {{ product_item.title }}
                                        </a>
                                    </h5>
                                    <p class="currency">
                                        {{ product_item.price | money }}
                                    </p>

                                    <a
                                    type="button"
                                    onclick="addToCart({{ product_item.variants[0].id }})"
                                    >
                                        <i class="fas fa-shopping-basket"></i>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>

                    {% else %}
                        <div class="col-xl-4 col-lg-8 offset-xl-1 offset-lg-2 col-sm-12 col-md-12">
                            <div class="single-product featured-product">
                                <div class="media">
                                    <img src="https://images.unsplash.com/photo-1611066697596-5212ac9e19fe?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80" alt="" class="img-responsive">
                                </div>
                                <div class="content">
                                    <label>new</label>
                                    <h5>High Quality Summer Women Sky Blue V Neck Beach Resort Floral Printed Maxi Dress</h5>
                                    <p class="currency">$280.00</p>

                                    <a href="{{ 'product_item.product.add_to_cart' }}">
                                        <i class="fas fa-shopping-basket"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {%- for block in section.blocks -%}
                        {%- if block.type == 'featured_product_items' -%}
                            {% render "featured-products-snippets" blockSettings: block.settings productTag: section.settings.featured_products_tag%}
                        {%- endif -%}
                    {%- endfor -%}
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    {% endif %}
    
    <!-- Begin products section -->
    <script>
        const addToCart = (id) => {
            let formData = {
                'items': [{
                'id': id,
                'quantity': 1
                }]
                };

                fetch('/cart/add.js', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
                })
                .catch((error) => {
                console.error('Error found:', error);
                });
        }
    </script>

    


{% schema %}
  {
      "name": "Featured Products",
      "settings": [
          {
              "type": "checkbox",
              "label": "Enable featured products",
              "id": "enable_featured_products"
          },
          {
              "id": "featured_section_title",
              "type": "text",
              "label": "Title",
              "default":"Mini Skirts"
            },
            {
              "id": "top_featured_product",
              "type": "product",
              "label": "Select featured product"
            },
            
            {
              "id": "featured_products_tag",
              "type": "text",
              "label": "Products tag",
              "default": "new"
            }
      ],
      "blocks": [
        {
            "name": "Featured Products",
            "type": "featured_product_items",
            "limit": 1,
            "settings": [
                {
                    "id": "featured_product_items_1",
                    "type": "product",
                    "label": "Item 1"
                },
                {
                    "id": "featured_product_items_2",
                    "type": "product",
                    "label": "Item 2"
                },
                {
                    "id": "featured_product_items_3",
                    "type": "product",
                    "label": "Item 3"
                },
                {
                    "id": "featured_product_items_4",
                    "type": "product",
                    "label": "Item 4"
                },
                {
                    "id": "featured_product_items_5",
                    "type": "product",
                    "label": "Item 5"
                },
                {
                    "id": "featured_product_items_6",
                    "type": "product",
                    "label": "Item 6"
                }
            ]
        }
    ],
    "presets": [
        {
          "category": "Featured Section",
          "name": "Featured section"
        }
      ]
  }
{% endschema %}